.card {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.spacer {
  display: block;
  width: 100%;
  height: 20px;
}

.examples {
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.6em;
  font-size: 0.8em;
  font-weight: 300;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  opacity: 0.5;
  margin: 3px 0;
}
.examples:hover, .examples:focus {
  opacity: 1;
}

.example__container {
  display: block;
  font-size: 1em;
  width: 100%;
  max-width: 600px;
}

